@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', 'sans-serif';
}


body{
    height: 100vh;
    background-color: white;
}


nav{
    display: flex;
    width: 100%;
}

/*  */

.about-logo{
    width: 25%;
    padding-left: 80px;
}


.about-menu{
    width: 75%;
    margin-left: 40%;
}

.confirm-second{
    background-color: white;
    display: flex;
    padding: 0px 50px;
    width: 100%;
    line-height: 14vh;
}




.about-menu2 a{
    cursor: pointer;
    text-decoration: none;
    padding: 0px 20px;
    color: black;
    font-size: medium;

}

.about-menu3{
    display: none;
}

.about-menu2 a:hover{
    color: #346E84;
}

.actived{
    color: #346E84;
}




.container{
    /* padding-top: 50px  ; */
    text-align: center;
    height: auto;
   overflow: hidden;
   width: 100%;
}


.about-h5{
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
    background-image: url(../img/alumni/backimage.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    padding: 50px 390px;
    align-items: center;
}


.about-h4{
    padding: 0px 300px 20px 300px;
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
}


.final-footer{
    background-color: #346E84;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-weight: 100;
    color: #E3F2FC;
   
}



.social{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.social .footer-img{
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}


.footer-text{
    font-size: small;
    padding: 20px;
    color: #E3F2FC;
}


.footer-three{
background-color: #346E84;    
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
align-content: center;
}

.about-h3{
font-style: italic;
font-size: xx-large;
font-weight: 900;
margin-top: 50px;
}





.fund-img{
    width: 100%;
    display: flex;
    padding: 50px 100px;
    background-image: url(../img/icons/bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    
}





/* UPCOMING EVENT */

@media screen and (max-width: 768px) {
    .card-event{
        display: none;
    }

    .about-menu3 {
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-size: medium;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }


    .munu{
        margin: 0px 10px;
    
    }

    .about-menu2 :hover{
        color: #346E84;
    }

    .about-menu2{
        display: none;
    }

    .about-logo {
        text-align: center;
        width: 100%;
        padding: 0 25%;
    }
  

    .about-h5{
        font-size: 20px;
        font-weight: 400;
        line-height: 45px;
        background-image: url(../img/alumni/backimage.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 20%;
        padding: 20px 100px;
        align-items: center;
    }
  
}



  
  @media screen and (max-width: 400px) {
    

    .about-h5{
        font-size: 20px;
        font-weight: 400;
        line-height: 45px;
        background-image: url(../img/alumni/backimage.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 20%;
        padding: 10px 20px;
        align-items: center;
    }

  }